pre
{
  background-color: #f5f5ff;
  border: solid #e5e5ee 1px;
  text-align: left;
}

.code
{
  margin-top: 1em;
}

body
{
  font-family: sans-serif;
  font-size: 0.95em;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6
{
  font-family: sans-serif;
  color: #535388;
}

article
{
  margin: 0;
  margin-left: 12em;
  padding: 0;
  width: 38em;
  text-align: justify;
}

article > h1
{ font-size: 2.2em }

article > h2,
article > section > h1
{ font-size: 1.6em }

article > h3,
article > section > h2,
article > section > section > h1
{ font-size: 1.3em }

article > h4,
article h5,
article h6,
article > section > h3,
article > section > section > h2,
article > section > section > section > h1
{ font-size: 1em }

article > h1
{
  color: white;
  background-color: #9393aa;
  margin: 0;
  padding: 0.5em 0 0.8em 0;
  text-align: center;
}

div#outline
{
  position: fixed;
  top: 2em;
  left: 0em;
  width: 10em;
}

div#outline > ol
{ font-size: 0.8em }

div#outline ol ol ol ol
{
  display: none;
}

div#code-anchors
{
  position: absolute;
  top: 2em;
  left: 51em;
  padding-right: 1em;
}

div#code-anchors > ul
{
  font-family: monospace;
  font-size: 0.8em;
}

div#code-anchors > ul ul
{
  padding-bottom: 1em;
}

div#outline ol,
div#code-anchors ul
{
  margin-left: 0;
  padding-left: 1em;
  padding-right: 0;
  list-style-type: none;
  text-indent: -1em;
}

div#outline,
div#code-anchors
{
  padding-left: 1em;
  color: #535388;
}

div#outline a,
div#code-anchors a,
div#outline a:visited,
div#code-anchors a:visited
{
  text-decoration: none;
  color: #9393aa;
}

div#outline > ol > li > a,
div#outline > ol > li > a:visited
{
  color: #535388;
}
